[Unit]
Description=Fix flipped screen on wake from suspend
After=systemd-suspend.service 

[Service]
Type=oneshot
# Your username here
User=MYUSERNAME
# The output of the command: echo $DBUS_SESSION_BUS_ADDRESS
# example: unix:path=/run/user/1000/bus
Environment="DBUS_SESSION_BUS_ADDRESS=YOURDBUSSESSIONADRESS"
RemainAfterExit=no
ExecStart=/bin/bash -c "/usr/local/bin/autorotate-aftersuspend-fix.sh"

[Install]
WantedBy=systemd-suspend.service

